.topic-section-wrapper {
    margin-top: 100px;
    background-image: url(../img/blur/4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 11px 3px #000000cc;
    padding-bottom: 16px;
}

.topic-section-wrapper a {
    text-decoration: none;
}

.topic-section-wrapper .card-header {
    overflow: hidden;
}

.topic-section-wrapper .card-header img {
    transition: 0.4s ease-in;
}

.topic-section-wrapper img:hover {
    transition: ease-in 0.3;
    transform: scale(1.2) rotate(-7deg);
    background-color: rgba(255, 166, 0, 0.522);
    cursor: pointer;
}

.topic-section-wrapper .card {
    box-shadow: 1px 1px 6px 3px rgb(0 0 0 / 52%);
    padding-bottom: 20px;
    margin-left: 12px;
    margin-right: 12px;
}

.topic-section-wrapper .card-body {
    font-size: 16px;
    padding: 5px;
    margin: 32px 10px;
}

.card-body .post-date {
    top: -49px;
    right: 20px;
    width: 45px;
    text-align: center;
    color: white;
    font-size: 16px;
}

.card-body .post-date div:first-child {
    background-color: orange;
}

.card-body .post-date div:last-child {
    background-color: #bfbdbd;
}

.topic-section-wrapper .card-body p {
    font-size: 16px;
    margin-top: 15px;
    color: gray;
}

.topic-section-wrapper .card-footer ul li {
    display: inline-block;
}

.topic-section-wrapper .card-footer ul li i {
    color: #717171;
    font-size: 16px;
    margin: 0px 2px;
}

.topic-section-wrapper .card-footer span {
    font-size: 16px;
    color: gray;
    margin: 0px 10px;
}