/* header image */

.img-header {
    /* height: 95vh !important; */
    min-height: 95vh !important;
}

.header-title {
    color: white;
    margin: 250px;
    max-width: 500px;
}

.header-title a {
    background-color: orange;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    margin-top: 50px;
    float: left;
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
}

.header-title h1 {
    font-size: 50px;
    text-shadow: 4px 3px 4px black;
}

.header-title h3 {
    font-size: 32px;
}

@media screen and (max-width: 907px) {
    .header-title {
        width: 100%;
        margin: 0px;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.6);
        color: #000;
        padding: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        /* box-shadow: outset 1px 1px 1px black; */
    }

    .overlay,
    .img-header {
        min-height: 100%;
    }
}

@media screen and (max-width: 907px) {
    .header-title h1 {
        font-size: 28px;
    }

    .header-title h3 {
        font-size: 18px;
    }

    .header-title a {
        font-size: 16px;
    }
}